.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
logs/
target/
dbt_packages/
data/bronze/*
data/silver/*
data/gold/*
artifacts/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!artifacts/.gitkeep
*.duckdb
*.pbix
.env
.user.yml

